---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: esphome
  values:
    controllers:
      esphome:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2026.1.4@sha256:21557eecf87a6a505988f1b7550613c67110c1271adf5e97be6684b4864a61dc
            # env:
            #   TZ: "Europe/London"
            #   ESPHOME__INSTANCE_NAME: ESPHome
            #   ESPHOME__PORT: &port 6052
            #   ESPHOME__APPLICATION_URL: "esphome.${SECRET_DOMAIN}"
            #   ESPHOME__LOG_LEVEL: info
            #   ESPHOME_DASHBOARD_USE_PING: true
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 512Mi
              limits:
                memory: 3072Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        controller: *app
        forceRename: "{{.Release.Name}}"
        ports:
          http:
            port: &port 6052
    persistence:
      config:
        existingClaim: *app
      buildcache:
        suffix: buildcache
        size: 50Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          esphome:
            app:
              - path: /cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /tmp
                subPath: esphome-tmp
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
