---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app byd-re
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: byd-re
  values:
    controllers:
      byd-re:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/mitsumaui/byd-re
              tag: main-d618d70@sha256:573920ec82c6d47ff0c08ddfe2f654547cb2f166c0879147f84afbf202dafeb9
            env:
              TZ: "Europe/London"
              PORT: &port 3000
            envFrom:
              - secretRef:
                  name: byd-re-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
            resources:
              requests:
                cpu: 12m
                memory: 128M
              limits:
                memory: 512M

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: byd-re
                port: *port
