---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app node-red
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: node-red
  values:
    controllers:
      node-red:
        containers:
          app:
            image:
              repository: nodered/node-red
              tag: 4.1.6-18-minimal@sha256:307c34c758033ed8831f757ec5f8cbabeb9ba704a2acc821165f7f6b9c5d8bea
            env:
              TZ: Europe/London

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 350Mi
              limits:
                memory: 2Gi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              # runAsNonRoot: true
              # fsGroup: 568
              # fsGroupChangePolicy: OnRootMismatch
              # allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: true
              # capabilities:
              #   drop:
              #     - ALL
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 1880
    persistence:
      data:
        existingClaim: *app

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
