---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  chartRef:
    kind: OCIRepository
    name: plex
  interval: 1h
  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env:
              TZ: Europe/London
              PLEX_ADVERTISE_URL: https://plex.${SECRET_DOMAIN}:443,http://10.0.30.35:32400,http://plex.default.svc.cluster.local:32400
              PLEX_NO_AUTH_NETWORKS: 192.168.167.0/24,10.0.10.0/24,10.0.11.0/24
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 50m
                memory: 2Gi
              limits:
                memory: 5Gi
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: plex
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
        supplementalGroups:
          - 44
          - 109
          - 1001
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.0.30.35
        externalTrafficPolicy: Local
        ports:
          http:
            port: *port
    rawResources:
      gpu:
        apiVersion: resource.k8s.io/v1
        kind: ResourceClaimTemplate
        spec:
          spec:
            spec:
              devices:
                requests:
                  - name: gpu
                    exactly:
                      deviceClassName: gpu.intel.com
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - # Ref: https://forums.plex.tv/t/external-srt-subtitles-are-not-working-w-reverse-proxy/886540
            backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove:
                    - Range
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      # nfs-movies:
      #   type: nfs
      #   server: "10.0.30.2"
      #   path: "/mnt/Vol1/Movies"
      #   advancedMounts:
      #     plex:
      #       app:
      #         - path: /media-movies
      #           readOnly: true
      # nfs-cfmovies:
      #   type: nfs
      #   server: "10.0.30.2"
      #   path: "/mnt/Vol1/CFMovies"
      #   advancedMounts:
      #     plex:
      #       app:
      #         - path: /media-cfmovies
      #           readOnly: true
      # nfs-cftvshows:
      #   type: nfs
      #   server: "10.0.30.2"
      #   path: "/mnt/SG6TB/CFTVShows"
      #   advancedMounts:
      #     plex:
      #       app:
      #         - path: /media-cftvshows
      #           readOnly: true
      # nfs-tvshows:
      #   type: nfs
      #   server: "10.0.30.2"
      #   path: "/mnt/SG6TB/TVShows"
      #   advancedMounts:
      #     plex:
      #       app:
      #         - path: /media-tvshows
      #           readOnly: true
      # media:
      #   type: nfs
      #   server: "10.0.30.2"
      #   path: /mnt/SG6TB2/Media
      #   globalMounts:
      #     - path: /media
      #       readOnly: true
      tmp:
        type: emptyDir
