---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/monitoring/grafana/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    # namespace: flux-system
  targetNamespace: monitoring
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana-instance
  namespace: flux-system
spec:
  dependsOn:
    - name: grafana
      namespace: flux-system
    - name: cluster-apps-rook-ceph
      namespace: flux-system
  interval: 1h
  path: ./kubernetes/apps/monitoring/grafana/instance
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    # namespace: flux-system
  targetNamespace: monitoring
  wait: false
