---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.26.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: nfs-videos-secret
  namespace: default
type: Opaque
stringData:
  RESTIC_REPOSITORY: ${SECRET_RESTIC_NAS_REPO}/videos
  RESTIC_PASSWORD: ${SECRET_RESTIC_PASSWORD}
  AWS_ACCESS_KEY_ID: ${SECRET_RESTIC_NAS_KEY}
  AWS_SECRET_ACCESS_KEY: ${SECRET_RESTIC_NAS_PASS}
  RESTIC_PACK_SIZE: "60"
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: nfs-videos
  namespace: default
spec:
  sourcePVC: nfs-videos
  trigger:
    # Weekly Sunday 00:00
    schedule: 0 0 * * 0
  restic:
    copyMethod: Direct
    pruneIntervalDays: 14
    repository: nfs-videos-secret
    cacheCapacity: 8Gi
    cacheStorageClassName: local-path
    cacheAccessModes: ["ReadWriteOnce"]
    moverSecurityContext:
      runAsUser: 1001
      runAsGroup: 1001
      fsGroup: 1001
    retain:
      weekly: 4
      within: 30d
