---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: nfs-docs
  namespace: default
spec:
  sourcePVC: nfs-docs
  trigger:
    # Weekly Sunday 00:00
    schedule: 0 0 * * 0
  restic:
    copyMethod: Direct
    pruneIntervalDays: 14
    repository: nfs-docs-volsync-idrive-secret
    cacheCapacity: 8Gi
    cacheStorageClassName: openebs-hostpath
    cacheAccessModes: ["ReadWriteOnce"]
    moverSecurityContext:
      runAsUser: 1001
      runAsGroup: 1001
      fsGroup: 1001
    retain:
      weekly: 4
      within: 30d
