---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.26.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: home-assistant-restic-secret
  namespace: default
  labels:
    app.kubernetes.io/name: home-assistant
type: Opaque
stringData:
  RESTIC_REPOSITORY: ${SECRET_RESTIC_S3_REPO}/home-assistant
  RESTIC_PASSWORD: ${SECRET_RESTIC_PASSWORD}
  AWS_ACCESS_KEY_ID: ${SECRET_RESTIC_S3_KEY}
  AWS_SECRET_ACCESS_KEY: ${SECRET_RESTIC_S3_PASS}
  RESTIC_PACK_SIZE: "60"
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: home-assistant
  namespace: default
spec:
  sourcePVC: home-assistant-config
  trigger:
    schedule: 0 2 * * *
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 7
    repository: home-assistant-restic-secret
    cacheCapacity: 8Gi
    cacheStorageClassName: ceph-filesystem
    volumeSnapshotClassName: csi-ceph-filesystem
    storageClassName: ceph-filesystem
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
    retain:
      daily: 7
      within: 3d
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.26.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: home-assistant-restic-nas-secret
  namespace: home
  labels:
    app.kubernetes.io/name: home-assistant
type: Opaque
stringData:
  RESTIC_REPOSITORY: s3:http://minio.default.svc.cluster.local:9000/restic-home-cluster/home-assistant
  RESTIC_PASSWORD: ${SECRET_RESTIC_PASSWORD}
  AWS_ACCESS_KEY_ID: ${SECRET_NAS_MINIO_ACCESS_KEY}
  AWS_SECRET_ACCESS_KEY: ${SECRET_NAS_MINIO_SECRET_KEY}
  RESTIC_PACK_SIZE: "60"
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: home-assistant-nas
  namespace: default
spec:
  sourcePVC: home-assistant-config
  trigger:
    schedule: "0 */6 * * *"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 7
    repository: home-assistant-restic-nas-secret
    cacheCapacity: 8Gi
    cacheStorageClassName: ceph-filesystem
    volumeSnapshotClassName: csi-ceph-filesystem
    storageClassName: ceph-filesystem
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
    retain:
      daily: 7
      within: 3d
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.26.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: "home-assistant-volsync-secret-idrive"
  labels:
    app.kubernetes.io/name: "home-assistant"
type: Opaque
stringData:
  RESTIC_REPOSITORY: ${SECRET_IDRIVE_S3_REPO}/home-assistant
  RESTIC_PASSWORD: ${SECRET_RESTIC_PASSWORD}
  AWS_ACCESS_KEY_ID: ${SECRET_IDRIVE_S3_ACCESS_KEY}
  AWS_SECRET_ACCESS_KEY: ${SECRET_IDRIVE_S3_SECRET_KEY}
  RESTIC_PACK_SIZE: "60"

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: "home-assistant-idrive"
spec:
  sourcePVC: "home-assistant-config"
  trigger:
    schedule: "30 2 * * *"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 7
    repository: "home-assistant-volsync-secret-idrive"
    cacheCapacity: 8Gi
    cacheStorageClassName: ceph-filesystem
    volumeSnapshotClassName: csi-ceph-filesystem
    storageClassName: ceph-filesystem
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
    retain:
      daily: 7
