---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app garage
spec:
  chartRef:
    kind: OCIRepository
    name: garage
  interval: 1h
  values:
    controllers:
      garage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.1.0@sha256:4c9b34c113e61358466e83fd6e7d66e6d18657ede14b776eb78a93ee8da7cf6a
            env:
              TZ: Europe/London
            envFrom:
              - secretRef:
                  name: garage-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 5Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.0.30.38
        externalTrafficPolicy: Local
        ports:
          http:
            port: &port 3900
    route:
      app:
        hostnames:
          - "s3.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - path: /etc/garage.toml
            subPath: configuration.toml
      data:
        type: nfs
        server: "10.0.30.2"
        path: "/mnt/SG6TB/s3/garage-data"
        globalMounts:
          - path: /data
      meta:
        type: nfs
        server: "10.0.30.2"
        path: "/mnt/SG6TB/s3/garage-meta"
        globalMounts:
          - path: /meta
